<h3>いいね：<%= @likes.count %>件</h3>

<% group.each do |goal| %>
  <div class="goal">
    <div class="goal-username">
      <%= link_to "@#{goal.user.username}", user_path(goal.user.username) unless goal.user.blank? %>
    </div>

    <%= link_to goal_path(goal) do %>
      <div class="goal-title">
        <%= goal.name %>
      </div>

      <div class="goal-content">
        <%= markdown(goal.description) %>
      </div>

      <% case goal.status %>
      <% when 0 then %>
        <span class="goal-status-not">未対応</span>
      <% when 1 then %>
        <span class="goal-status-process">処理中</span>
      <% when 2 then %>
        <span class="goal-status-processd">処理済み</span>
      <% when 3 then %>
        <span class="goal-status-done">完了</span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div>
  <%= paginate group %>
  <div>
    <button>さらに表示</button>
  </div>
</div>