<% if user_signed_in? %>
  <%= form_with(model:[@goal, @comment], local: true, class: "comment-form js-modal") do |f| %>
    <div class="comment-modalOff-cover">
      <span class="comment-modalOff js-modalOff">✖︎<span>
    </div>

    <%= f.text_area :content %>
    <br>
    <div class="comment-button-cover">
      <%= f.submit 'コメントする', class: "comment-button" %>
    </div>
  <% end %>

    <% if comments.any? %>
      <% comments.each do |comment| %>
        <div class="comment">
          <div class="comment-username">
            <%= link_to "@#{comment.user.username}", user_path(comment.user.username) unless comment.user.blank? %>
          </div>

          <div class="comment-content">
            <%= comment.content %>
          </div>

          <div class="comment-createdAt">
            <%= comment.created_at %>
          </div>

          <div class="comment-deleteButton-cover">
            <% if comment.user == current_user %>
              <%= link_to "削除", goal_comment_path(@goal, comment), method: :delete, data: { confirm: "コメントを削除しますか？" }, class: "comment-deleteButton" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div>まだコメントがありません。</div>
    <% end %>
<% end %>