<h2>コメント一覧</h2>
<%= form_with(model:[@goal, @comment], local: true) do |f| %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<% if comments.any? %>
  <% comments.each do |comment| %>
    <div>
      <div>
        <%= link_to comment.user.username, user_path(comment.user.username) unless comment.user.blank? %>
      </div>
      <div><%= comment.content %></div>
      <div>
        <%= comment.created_at %>
        <% if comment.user == current_user %>
          <%= link_to "削除", goal_comment_path(@goal, comment), method: :delete, data: { confirm: "本当に削除しても良いですか?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div>まだコメントがありません。</div>
<% end %>