<% if user_signed_in? %>
  <%= form_with(model:[@goal, @comment], local: true) do |f| %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit 'コメントする' %>
  <% end %>

  <div class="comment">
    <% if comments.any? %>
      <% comments.each do |comment| %>
        <div class="comment-username">
          <%= link_to comment.user.username, user_path(comment.user.username) unless comment.user.blank? %>
        </div>
        <div><%= comment.content %></div>
        <div>
          <%= comment.created_at %>
          <% if comment.user == current_user %>
            <%= link_to "削除", goal_comment_path(@goal, comment), method: :delete, data: { confirm: "コメントを削除しますか？" } %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div>まだコメントがありません。</div>
    <% end %>
  </div>
<% end %>