<%= search_form_for @search do |f| %>
  <%= f.label :name, "名前 & 内容検索" %>
  <%= f.search_field :name_or_description_cont %>
  <%= f.submit "検索" %>
<% end %>

<h1>Goals#index</h1>

<div><%= link_to '目標追加', new_goal_path(@goals) %></div>

<table>
  <tr>
    <th>登録者</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @goals.each do |goal| %>
    <tr>
      <td><%= link_to goal.user.username, user_path(goal.user.id) unless goal.user.blank? %></td>
      <td><%= goal.name %></td>
      <td><%= goal.description %></td>

      <td><%= link_to 'Show', goal_path(goal) %></td>
      <% if goal.user == current_user %>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal_path(goal), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>