<%= search_form_for @search do |f| %>
  <%= f.label :name, "名前 & 内容検索" %>
  <%= f.search_field :name_or_description_cont %>
  <%= f.submit "検索" %>
<% end %>

<h1>タスク一覧</h1>

<% if user_signed_in? %>
  <div><%= link_to '目標追加', new_goal_path %></div>
<% end %>

<table>
  <tr>
    <th>登録者</th>
    <th>Title</th>
    <th>Content</th>
    <th>Status</th>
  </tr>

  <% @goals.each do |goal| %>
    <tr>
      <td>@<%= link_to goal.user.username, user_path(goal.user.username) unless goal.user.blank? %></td>
      <td><%= goal.name %></td>
      <td><%= goal.description %></td>
      <% case goal.status %>
      <% when 0 then %>
        <td>未対応</td>
      <% when 1 then %>
        <td>処理中</td>
      <% when 2 then %>
        <td>処理済み</td>
      <% when 3 then %>
        <td>完了</td>
      <% end %>

      <td><%= link_to 'Show', goal_path(goal) %></td>
      <% if goal.user == current_user %>
        <td><%= link_to '編集', edit_goal_path(goal) %></td>
        <td><%= link_to '削除', goal_path(goal), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>