<div class="modal-bg js-modalBg" data-keyboard="false" data-backdrop="static"></div>

<div class="back-button-cover">
  <%= link_to goals_path, class: "back-button" do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
</div>

<div class="goal">
  <div class="goal-username">
    @<%= link_to @goal.user.username, user_path(@goal.user.username) unless @goal.user.blank? %>
  </div>

  <div class="goal-inner">
    <div class="goal-title">
      <%= @goal.name %>
    </div>

    <div class="goal-content">
      <%= @goal.description %>
    </div>

    <% case @goal.status %>
    <% when 0 then %>
      <span class="goal-status-not">未対応</span>
    <% when 1 then %>
      <span class="goal-status-process">処理中</span>
    <% when 2 then %>
      <span class="goal-status-processd">処理済み</span>
    <% when 3 then %>
      <span class="goal-status-done">完了</span>
    <% end %>

    <% if @goal.user == current_user %>
      <div class="goal-button-cover">
        <%= link_to '編集', edit_goal_path(@goal), class: "goal-button-edit" %>
        <%= link_to '削除', goal_path(@goal), method: :delete, data: { confirm: '投稿を削除しますか？' }, class: "goal-button-delete" %>
      </div>
    <% end %>

    <div class="goal-footer">
      <div class="goal-footer-head">
        <div>
          <%= link_to "いいね件数", goal_likes_path(@goal) %>：<%= @goal.likes.count %>
        </div>
        <% if @comments.any? %>
          <div>コメント件数：<%= @comments.count %></div>
        <% end %>
      </div>

      <ul class="goal-footer-body">
        <li class="active-comment js-modalOn">コメント</li>
        <li class="active-like">
          <%= render 'likes', goal: @goal %>
        </li>
      </ul>

      <div class="goal-footer-foot">
        <%= render 'comment', comments: @comments %>
      </div>
    </div>
  </div>
</div>