<h1>Goals#show</h1>

<p>
  <strong>投稿者</strong>
  <%= link_to @goal.user.username, user_path(@goal.user.username) unless @goal.user.blank? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.name %>
</p>
<p>
  <strong>Text:</strong>
  <%= @goal.description %>
</p>

<%= render 'like', goal: @goal %>

<%= render 'comment', comments: @comments %>

<%= link_to 'Back', goals_path %>