<h1>タスク詳細</h1>

<p>
  <strong>投稿者</strong>
  @<%= link_to @goal.user.username, user_path(@goal.user.username) unless @goal.user.blank? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.name %>
</p>
<p>
  <strong>Text:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Status:</strong>
  <% case @goal.status %>
  <% when 0 then %>
    <td>未対応</td>
  <% when 1 then %>
    <td>処理中</td>
  <% when 2 then %>
    <td>処理済み</td>
  <% when 3 then %>
    <td>完了</td>
  <% end %>
</p>

<% if @goal.user == current_user %>
  <td><%= link_to '編集', edit_goal_path(@goal) %></td>
  <td><%= link_to '削除', goal_path(@goal), method: :delete, data: { confirm: '投稿を削除しますか？' } %></td>
<% end %>

<%= render 'like', goal: @goal %>
<%= render 'comment', comments: @comments %>

<%= link_to 'Back', goals_path %>