<header>
  <h1 class="header-logo">
    <%= link_to website_name, root_path %>
  </h1>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li><%= link_to "タスク一覧", goals_path %></li>
      <li><%= link_to "ユーザー一覧", users_path %></li>
      <% if user_signed_in? && current_user.admin? %>
        <li class="nav-username">管理者</li>
        <li><%= link_to "プロフィール", user_path(current_user) %></li>
        <li><%= link_to "通知", notifications_path %></li>
      <% elsif user_signed_in? %>
        <li class="nav-username"><%= current_user.username %></li>
        <li><%= link_to "プロフィール", user_path(current_user) %></li>
        <li><%= link_to "通知", notifications_path %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>